body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

p.small {
  font-size: 16px;
}

a,
a.active,
a:active,
a:focus,
a:hover {
  color: #00aef0;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}


.img-centered {
  margin: 0 auto;
}

section {
  padding: 80px 0;
}
section h2 {
  font-size: 2.5em;
  margin: 0 0 20px 0;
}

section.get-your-card,
section.contact {
  color: white;
  background: #00aef0;
}

#partners,
.who-can-get-esn-card {
    background-color: #f8f9fa;
}

@media (max-width: 767px) {
  section {
    padding: 40px 0;
  }
  section.first {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .apply-block {
    margin: auto auto 60px;
  }
}
.instruction-block {
  margin: 20px auto auto;
  float: none;
}

.scroll-top {
  position: fixed;
  z-index: 1049;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
}
.scroll-top .btn {
  font-size: 16px;
  line-height: 28px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
}
.scroll-top .btn:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #2E3192;
}

#mainNav {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: none;
  background: #2E3192;
}
#mainNav a:focus {
  outline: none;
}
#mainNav .navbar-brand {
  font-size: 1.1rem;
  color: white;
}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: white;
}
#mainNav .navbar-nav {
  letter-spacing: 1px;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: white;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #00aef0;
  outline: none;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: white;
}
#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border-color: white;
}
#mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
  color: white;
  border-color: #00aef0;
  background-color: #00aef0;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: white;
    border-radius: 3px;
    background: #00aef0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: white;
    background: #00aef0;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
header.masthead {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
  color: white;
  background: #00aef0;
}
header.masthead img {
  display: block;
  margin: 0 auto 15px;
  max-width: 380px;
}
/* Subtle floating/bounce for the ESNcard hero image */
@keyframes float-bounce {
  0% { transform: translateY(0) scale(1); }
  50% { transform: translateY(-12px) scale(1.02); }
  100% { transform: translateY(0) scale(1); }
}

header.masthead img {
  will-change: transform;
  animation: float-bounce 3.6s ease-in-out infinite;
  transform-origin: center bottom;
}

@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  header.masthead img:hover {
    animation-duration: 0.9s;
    animation-name: float-bounce;
    transform: translateY(-18px) scale(1.04);
    transition: transform 0.25s ease-out;
  }
}

@media (prefers-reduced-motion: reduce) {
  header.masthead img {
    animation: none !important;
    transition: none !important;
  }
}
header.masthead .intro-text .name {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  font-weight: 700;
  display: block;
  margin-bottom: 12px;
}
header.masthead .intro-text .description {
  font-size: 1.1em;
  font-weight: 300;
  margin: 0 auto;
  max-width: 900px;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 120px;
    padding-bottom: 80px;
  }
  header.masthead .intro-text .name {
    font-size: 3.5em;
  }
  header.masthead .intro-text .description {
    font-size: 1.5em;
  }
}

#partners .partners-item .partners-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}
#partners .partners-item .partners-link .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(0, 174, 240, 0.9);
}
#partners .partners-item .partners-link .caption:hover {
  opacity: 1;
}
#partners .partners-item .partners-link .caption .caption-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}
#partners .partners-item .partners-link .caption .caption-content i {
  margin-top: -12px;
}
#partners .partners-item .partners-link .caption .caption-content h3,
#partners .partners-item .partners-link .caption .caption-content h4 {
  margin: 0;
}
#partners * {
  z-index: 2;
}

@media (min-width: 767px) {
  #partners .partners-item {
    margin: 0 0 30px;
  }
}
.partners-modal .modal-dialog {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.partners-modal .modal-dialog .modal-content {
  padding: 100px 0;
  border: 0;
  border-radius: 0;
}
.partners-modal .modal-dialog .modal-content h2 {
  font-size: 3em;
  margin: 0;
}
.partners-modal .modal-dialog .modal-content img {
  margin-bottom: 30px;
}
.partners-modal .modal-dialog .modal-content .item-details {
  margin: 30px 0;
}
.partners-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}
.partners-modal .close-modal:hover {
  opacity: 0.3;
}
.partners-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #2E3192;
}
.partners-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #2E3192;
}
.partners-modal .modal-backdrop {
  display: none;
  opacity: 0;
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgb(238.425, 238.425, 238.425);
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}
.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid rgb(238.425, 238.425, 238.425);
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #00aef0;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid rgb(238.425, 238.425, 238.425);
}

footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2E3192;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: rgb(45.93890625, 48.934921875, 145.80609375);
}

.btn-outline {
  font-size: 20px;
  font-weight: 700;
  display: block;
  transition: all 0.3s ease-in-out;
  color: white;
  border: solid 2px white;
  background: transparent;
}
.btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover {
  color: #00aef0;
  border: solid 2px white;
  background: white;
}

.btn-instruction {
  background: #2E3192;
}
.btn-instruction:hover {
  color: #2E3192;
}

.btn-primary {
  font-weight: 700;
  color: white;
  border-color: #2E3192;
  background-color: #2E3192;
}
.btn-primary.focus, .btn-primary:focus {
  color: white;
  border-color: rgb(15.453125, 16.4609375, 49.046875);
  background-color: rgb(33.78125, 35.984375, 107.21875);
}
.btn-primary:hover {
  color: white;
  border-color: rgb(31.3375, 33.38125, 99.4625);
  background-color: rgb(33.78125, 35.984375, 107.21875);
}
.btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
  color: white;
  border-color: rgb(31.3375, 33.38125, 99.4625);
  background-color: rgb(33.78125, 35.984375, 107.21875);
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .btn-primary.dropdown-toggle.focus, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle:hover {
  color: white;
  border-color: rgb(15.453125, 16.4609375, 49.046875);
  background-color: rgb(25.228125, 26.8734375, 80.071875);
}
.btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
  background-image: none;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
  border-color: #2E3192;
  background-color: #2E3192;
}
.btn-primary .badge {
  color: #2E3192;
  background-color: white;
}

.btn-success {
  font-weight: 1000;
  color: white;
  border-color: #00aef0;
  background-color: #00aef0;
}
.btn-success.focus, .btn-success:focus {
  color: white;
  border-color: rgb(0, 81.5625, 112.5);
  background-color: rgb(0, 137.025, 189);
}
.btn-success:hover {
  color: white;
  border-color: rgb(0, 129.63, 178.8);
  background-color: rgb(0, 137.025, 189);
}
.btn-success.active, .btn-success:active, .open > .btn-success.dropdown-toggle {
  color: white;
  border-color: rgb(0, 129.63, 178.8);
  background-color: rgb(0, 137.025, 189);
}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open > .btn-success.dropdown-toggle.focus, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle:hover {
  color: white;
  border-color: rgb(0, 81.5625, 112.5);
  background-color: rgb(0, 111.1425, 153.3);
}
.btn-success.active, .btn-success:active, .open > .btn-success.dropdown-toggle {
  background-image: none;
}
.btn-success.disabled.focus, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled].focus, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
  border-color: #00aef0;
  background-color: #00aef0;
}
.btn-success .badge {
  color: #00aef0;
  background-color: white;
}

.btn-social {
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid white;
  border-radius: 100%;
}

.btn.active,
.btn:active,
.btn:focus {
  outline: none;
}

#faq {
  background-color: #f9f9f9;
  padding: 60px 0;
}
#faq h2 {
  margin-bottom: 40px;
  font-weight: 700;
  color: #2c3e50;
}
#faq .faq-item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
#faq .faq-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  border-color: rgba(46, 49, 146, 0.1);
}
#faq .faq-item .faq-question {
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
#faq .faq-item .faq-question h4 {
  font-weight: 600;
  margin: 0;
  font-size: 1.15rem;
  color: #2c3e50;
  transition: color 0.3s ease;
}
#faq .faq-item .faq-question i {
  font-size: 1.2rem;
  color: #2e3192;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
#faq .faq-item .faq-answer {
  display: none;
  padding: 0 30px 25px 30px;
}
#faq .faq-item .faq-answer p {
  color: #6c757d;
  font-size: 1.05rem;
  line-height: 1.7;
  margin: 0;
}
#faq .faq-item .faq-answer a {
  color: #2e3192;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}
#faq .faq-item .faq-answer a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #2e3192;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
#faq .faq-item .faq-answer a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#faq .faq-item.active {
  box-shadow: 0 8px 16px rgba(46, 49, 146, 0.08);
}
#faq .faq-item.active .faq-question h4 {
  color: #2e3192;
}
#faq .faq-item.active .faq-question i {
  transform: rotate(45deg);
}

/*# sourceMappingURL=freelancer.css.map */

#partners .partners-item {
  background: #fff;
  border: none;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease-in-out;
  position: relative;
  z-index: 1;
  margin-bottom: 24px;
}

#partners .partners-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

#partners .partners-item::before {
    content: '';
    position: absolute;
    top: -2px; left: -2px; right: -2px; bottom: -2px;
    background: radial-gradient(circle, rgba(0, 174, 240, 0.5), transparent);
    background-size: 200% 200%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
    filter: blur(20px);
}

#partners .partners-item:hover::before {
    opacity: 1;
}

.who-can-get-esn-card .apply-block {
  background: #fff;
  border: none;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease-in-out;
  position: relative;
  z-index: 1;
  margin-bottom: 24px;
}

.who-can-get-esn-card .apply-block:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.who-can-get-esn-card .apply-block::before {
    content: '';
    position: absolute;
    top: -2px; left: -2px; right: -2px; bottom: -2px;
    background: radial-gradient(circle, rgba(0, 174, 240, 0.5), transparent);
    background-size: 200% 200%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
    filter: blur(20px);
}

.who-can-get-esn-card .apply-block:hover::before {
    opacity: 1;
}

.who-can-get-esn-card .apply-block h4,
.who-can-get-esn-card .apply-block p {
    color: #333;
}


.btn-social:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}