// Styling for the masthead
@use "variables";

header.masthead {
  padding-top: 100px;
  padding-bottom: 50px;

  text-align: center;

  color: white;
  background: variables.$theme-success;
  img {
  
    animation: float 3s ease-in-out infinite; // Add floating animation
  }
  
  .intro-text {
    .name {
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 2em;
      font-weight: 700;

      display: block;
    }
    .description {
      font-size: 1.25em;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

// Floating animation keyframes
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@media(min-width:768px) {
  header.masthead {
    padding-top: 200px;
    padding-bottom: 100px;
    .intro-text {
      .name {
        font-size: 4.75em;
      }
      .description {
        font-size: 1.75em;
      }
    }
  }
}
