// Variables
@use "sass:color";

// Gray and Brand Colors for use across theme

$theme-primary: #2E3192;
$theme-success: #00aef0;

$gray-base: #000;
$gray-darker: color.adjust($gray-base, $lightness: 13.5%);
$gray-dark: color.adjust($gray-base, $lightness: 20%);
$gray: color.adjust($gray-base, $lightness: 33.5%);
$gray-light: color.adjust($gray-base, $lightness: 46.7%);
$gray-lighter: color.adjust($gray-base, $lightness: 93.5%);
